apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "elastic.name" . }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  # Для Docker Desktop
  storageClassName: hostpath