replicaCount: 1

image:
  tag: "latest"
  pullPolicy: Never

service:
  type: ClusterIP
  port: 80
  targetPort: 8086

config:
  keycloak_url: "http://keycloak/realms/master"
  zipkin_url: "http://zipkin/api/v2/spans"
  bootstrap: "kafka:9092"
  log_topic: "log-topic"
