{{- if .Values.kafkaUi.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: kafka-ui
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: {{ .Values.kafkaUi.service.type }}
  ports:
    - port: {{ .Values.kafkaUi.service.port }}
      targetPort: {{ .Values.kafkaUi.service.port }}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: kafka-ui
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
