apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "keycloak.name" . }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi
  # Для Docker Desktop
  storageClassName: hostpath